body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(148, 7, 7);
    padding: 20px;
    font-size: 32px;
    color: rgb(148, 7, 7);
}

.chamada{
    background: rgb(232, 255, 21);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}